<form class="form-search">
    <select name = "state"> 
        <option value=""></option>
        <option value=0>Proposal</option>
        <option value=1>In progress</option>
        <option value =2>Finished</option>
    </select>
    <button type="submit"> Search</button>
</form>

<table class="table-data">
      <h2>Last entries</h2>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start On</th>
        <th>End On</th>
        <th>State</th>
      </tr>
      <% @project.each do |p| %>
      <tr class="trp-space">
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><%= p.start_on %></td>
        <td><%= p.end_on %></td>
        <td><%= p.state %></td>
      </tr>
      <% end %>
    </tbody>
</table>
